[Unit]
Description=<%= @name %>
Wants=network.target
After=network.target

[Service]
Environment=<%= @environment.map {|key, val| %Q{"#{key}=#{val}"} }.join(' ') %>
ExecStart=<%= @command %>
ExecReload=/bin/kill -<%= @reload_signal %> $MAINPID
KillSignal=<%= @stop_signal %>
User=<%= @user %>
WorkingDirectory=<%= @directory %>
Restart=<%= @options['systemd_settings']['restart_settings'] %>
RestartSec=<%= @options['systemd_settings']['restart_sec'] %>

[Install]
WantedBy=multi-user.target
